<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>




    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projet"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAelZcrPbtYg3W_qgACgN4tcwuj992VotQ"/>

        <activity android:name=".JeuxPhoto.FiltrePhoto" />
        <activity android:name=".JeuxPhoto.PhotoJeuInfoActivity" />

        <activity android:name=".MidtermRace.MidtermRaceInfoActivity" />
        <activity android:name=".MidtermRace.MidtermRaceActivity" />

        <activity android:name=".Champignon.ChampiInfoActivity" />
        <activity android:name=".Champignon.ChampiGameActivity"
            android:exported="true"
            android:screenOrientation="landscape"/>

        <activity android:name=".DessinGame.DessinInfoActivity" />
        <activity android:name=".DessinGame.DessinGameActivity" />

        <activity android:name=".CircuitGame.CircuitInfoActivity" />
        <activity android:name=".CircuitGame.CircuitGameActivity" />

        <activity android:name=".jeuMeteo.TemperatureInfoActivity" />
        <activity android:name=".jeuMeteo.TemperatureGameActivity" />

        <activity android:name=".JeuDistance.DistanceInfoActivity" />
        <activity android:name=".JeuDistance.DistanceGameActivity" />

        <activity android:name=".Quiz.QuizDescriptionActivity" />
        <activity android:name=".Quiz.QuizGameActivity" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>